# Dependencies
**/node_modules/

# Angular
**/.angular/
**/dist/

# NestJS
**/dist/

# Environment files
**/.env
**/.env.*
!.env.example

# Testing and coverage
**/coverage/

# IDE
.vscode/
**/.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
